[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/gnsps/solidity-bytes-utils
[submodule "packages/foundry/lib/tokenized-strategy"]
	path = packages/foundry/lib/tokenized-strategy
	url = https://github.com/yearn/tokenized-strategy
[submodule "packages/foundry/lib/tokenized-strategy-periphery"]
	path = packages/foundry/lib/tokenized-strategy-periphery
	url = https://github.com/yearn/tokenized-strategy-periphery
